# Allow access to Qualcomm MSM Interface (QMI) sockets
unix_socket_connect(hal_audio_default, qmuxd, qmux)
allow hal_audio_default qmuxd_socket:dir w_dir_perms;
allow hal_audio_default qmuxd_socket:sock_file { create setattr };
