#
# Copyright 2012 The Android Open Source Project
# Copyright (C) 2018 Unlegacy Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

import init.flo.common.rc

on boot
    #Create QMUX deamon socket area
    mkdir /dev/socket/qmux_radio 0770 radio radio
    chmod 2770 /dev/socket/qmux_radio
    mkdir /dev/socket/qmux_audio 0770 media audio
    chmod 2770 /dev/socket/qmux_audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    chmod 2770 /dev/socket/qmux_bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    chmod 2770 /dev/socket/qmux_gps

    # Allow QMUX daemon to assign port open wait time
    chown radio radio /sys/devices/virtual/hsicctl/hsicctl0/modem_wait

# msm specific files that need to be created on /data
on post-fs-data
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/mdm 0771 system system

    # kickstart
    mkdir /data/qcks 0770 system system
    chown system /dev/block/platform/msm_sdcc.1/by-name

# QMUX must be in multiple groups to support external process connections
service qmuxd /vendor/bin/qmuxd
    class main
    user radio
    group radio audio bluetooth wakelock gps

service ks_checker /vendor/bin/kickstart_checker.sh
    class core
    group system
    oneshot

service kickstart /vendor/bin/qcks -i /firmware/image/ -r /data/tombstones/mdm/
    class core
    user system
    group system wakelock
    disabled
    oneshot

on property:gsm.radio.kickstart=on
    start kickstart
    setprop gsm.radio.kickstart running

on property:gsm.radio.kickstart=off
    stop kickstart

service netmgrd /vendor/bin/netmgrd
    class main
    group radio system wakelock
